{{define "content"}}
    <div class="jumbotron">
        <h1>Users</h1>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Actions</td>
        </tr>
        </thead>

        <tbody>
        {{ range $user := .Users }}
            <tr>
                <td> {{ $user.Name }}</td>
                <td> {{ $user.Email }}</td>
                <td>
                    <a href="/admin/users/edit/{{ $user.ID }}" class="btn btn-sm btn-info">Edit</a>
                    <a href="/admin/users/delete/{{ $user.ID }}" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        {{ end }}
        </tbody>
    </table>

{{end}}