{{define "content"}}
    <form action="/register-submit" method="post">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="name"/>
                </div>

                <div class="col-md-12">
                    <label for="email">Email</label>
                    <input class="form-control" type="email" name="email"/>
                </div>

                <div class="col-md-12">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password"/>
                </div>

                <div class="col-md-12">
                    <label></label>
                </div>

                <div class="col-md-12">
                <input class="btn btn-primary" type="submit" value="Register"/>
                </div>
            </div>
        </div>
    </form>
{{end}}